{% extends 'layout/base.html' %}
{% load static %}
{% block 'title' %}Cambio de contraseña{% endblock %}
{% block 'style' %}
<link href="{% static 'css/password.css' %}" rel="stylesheet">
{% endblock %}
{% block 'content' %}
<div class="container" style="background-color: black;">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card my-5">
          <div class="card-body">
            <h2 class="card-title text-center mb-4">Cambiar contraseña</h2>
            <form method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit" class="btn btn-primary mx-auto d-block">Guardar cambios</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}