{% extends 'layout/base.html' %}

{% block 'content' %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title text-center mb-4">Contraseña restablecida con éxito</h2>
            <p>Tu contraseña ha sido restablecida con éxito. Ahora puedes iniciar sesión con tu nueva contraseña.</p>
            <a href="{% url 'login' %}" class="btn btn-primary btn-block mt-4" style="background-color: #E74C3C; color: white;">Iniciar sesión</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}