/* Fuentes */

@font-face {
	font-family: 'Quicksand-Bold';
	src: url('../fonts/Quicksand-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Quicksand-Regular';
	src: url('../fonts/Quicksand-Regular.ttf') format('truetype');
}

/* */
* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}


h1 {
	font-family: Quicksand-Bold;
}

nav {
    background-color: #88c660;
}

nav ul {
    display: flex;
    padding-left: 250px !important; 
}

nav ul li a {
	font-family: Quicksand-Regular;
	color: azure !important;
	font-size: 1.4rem;
	padding: 20px !important;
}

.logo-nav {
    padding: 20px 280px;
	vertical-align: middle;
}

body {
	background-color: #F1FFF6; /* Color de fondo sólido */
}

.seccion1 {
	position: relative;
    background-image: url('../img/background-index.png');
    background-repeat: no-repeat;
    background-size: 100% 80%;
    min-height: 1000px; /* Ajusta la altura mínima según tus necesidades */
    color: azure; /* Ajusta el color del texto según tu diseño */
    text-align: center; /* Alinea el contenido al centro */
    font-family: Quicksand-Regular;
    font-size: 22px;

}

.titulo-principal {
	position: relative;
	top: 50px;
}

.parrafo-seccion1 {
	position: relative;
	top: 60px;
}

.grafico-seccion1 {
	position: relative;
	top: 30px;
}

.grafico-seccion2 {
	position: relative;
	top: 50px;
}

footer {
	background-color: #88c660;
}

.messages{
    font-size: 100px;
}

@media (max-width: 991px) {
    nav ul.navbar-nav {
        display: none;
    }
    
    .navbar-toggler {
        display: block;
    }
    
    .logo-nav {
        padding: 10px;
    }
    
    .navbar-collapse.collapse.show {
        display: block !important;
    }
    
    .navbar-collapse.collapse {
        display: none !important;
    }
}