.card-divisa ul {
    list-style: none;
    padding-inline-start: 0px !important;
}

.card-divisa ul li {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.8em;
    color: black;
    border: solid 1px rgba(0, 0, 0, 0.231);
    border-radius: 6px;
    margin: 3px;
}

.card-divisa ul li:hover {
    background-color: rgba(128, 128, 128, 0.121);
}

.card-body.card-divisa {
    height: 360px !important;
}

.card-body.card-reciente {
    height: 360px !important;
    overflow: hidden;
}

.card-reciente ul {
    padding: 0;
    border-bottom: solid black 1px;
    font-size: 0.9rem;
    color: #5A5C69;
}

.card-reciente ul li {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.color-category {
    color: rgb(233, 151, 0);
}
