{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Billetera</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg bs5">
        <div class="container-fluid">
          <a class="logo-nav" href="#"><img src="{% static 'img/cartera-logo.png' %}" alt="Mi Logo" width="80"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Ingresar</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Registrarse</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    <main>
      <div class="seccion1 container-fluid">
        <h1 class="titulo-principal"> El control total de tu dinero </h1>
        <p class="parrafo-seccion1"> Ten un control real de tus finanzas,<br> disfruta tu dinero sin preocupaciones <br>y gestiona tus ahorros. <p>
        <img class="grafico-seccion1" src="{% static 'img/grafico-seccion1.png' %}" width="500px">
      </div>

    </main>
    <footer></footer>

    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src=" {% static 'js/bootstrap.min.js' %} "></script>
</body>
</html>