{% load widget_tweaks %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Billetera | Gastos</title>
</head>
<body>
    <body id="page-top">

        <!-- Page Wrapper -->
        <div id="wrapper">
    
    {% include 'layout/partials/togler.html' %}
    
            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">
    
                <!-- Main Content -->
                <div id="content">
    
    {% include 'layout/partials/topnavbar.html' %}
    
                    <!-- Begin Page Content -->
                    <div class="container-fluid">
    
                        <!-- Page Heading -->
                        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                            <h1 class="h3 mb-0 text-gray-800">Registrar Gasto</h1>
                        </div>

<form method="POST">
    {% csrf_token %}
    <p> Fecha del  gasto: {{ form.fecha }} </p>
    <p> Cantidad o monto del gasto: {{ form.monto }} 
        
    </p>
    <p> Categoria del gasto: {{ form.fk_categoria }} {% if form.fk_categoria.errors %}{{ form.fk_categoria.errors }}{% endif %}</p>
    <button type="submit" class="btn btn-success btn-user btn-block">Ingresar</button>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }} alert alert-success"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</form>

<script src="https://cdn.jsdelivr.net/npm/autonumeric@4.3.0/dist/autoNumeric.min.js"></script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        new AutoNumeric('.autonumeric', {
            allowDecimalPadding: false,
            currencySymbol: '',
            decimalCharacter: ',',
            digitGroupSeparator: '.',
            unformatOnSubmit: true
        });
    });
</script>

</body>
</html>