{% load widget_tweaks %} {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/jpg" />
    <link rel="stylesheet" href="{% static 'css/ingresos.css' %}">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        {% include 'layout/partials/togler.html' %}

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                {% include 'layout/partials/topnavbar.html' %}

                <div class="container d-flex flex-column align-items-center">
                    <h2 class="bg-success text-white shadow p-2 rounded my-5">MI PERFIL</h2>
                    <div class="fw-bold shadow mb-5 d-flex bg-body w-100 h-100">
                        <div class="position-relative d-flex align-items-center justify-content-center" style="width: 40%;">
                            <img class="w-100 shadow h-100 img-profile rounded-circle" src="{{ usuario.imagen.url }}" alt="Imagen de perfil" id="profile-image" style="cursor: pointer;">
                            <i data-bs-target="#cambiarfotoperfil" data-bs-toggle="modal" class="far fa-edit fa-lg position-absolute top-0 end-0 text-black pe-auto p-2" role="button" id="edit-icon"></i>
                        </div>
                        {% for recordatorio in recordatorios %}
                        {% if recordatorio.activo %}
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="mr-3">
                                    <div class="icon-circle bg-primary">
                                        <i class="fas fa-file-alt text-white"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="small text-gray-500">{{ recordatorio.fecha }}</div>
                                    <span class="font-weight-bold">{{ recordatorio.mensaje }}</span>
                                </div>
                            </a>
                        {% endif %}
                    {% endfor %}
                    </div>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
</body>

</html>