{% extends 'layout/base.html' %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %} Ahorro {% endblock %}
    <link rel="icon" type="image/jpg" href="{% static 'img/favicon.png' %}" />
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> {% block 'style' %}{% endblock %}
    
</head>
{% block content %}
{% load humanize %}



<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        {% include 'layout/partials/togler.html' %}

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content ">

                {% include 'layout/partials/topnavbar.html' %}

                <!-- Begin Page Content -->
                <div>

                    <div class="container">
                        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                            <h1 class="h2 text-success bg-body p-3 mt-2 text-center mx-auto w-50 "><b>VER AHORROS</b></h1>
                        </div>
    
                        <table id="datatable_ahorros" class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="cole" scope="col">Fecha</th>
                                    <th class="cole" scope="col">Tipo</th>
                                    <th class="cole" scope="col">Monto</th>
                                    <th class="cole" scope="col">Opciones</th>

                                </tr>
                            </thead>
                            <tbody id="tablebody_ahorros">
    
                            </tbody>
                        </table>
    
                        {% for ahorro in ahorros %}
                        <!-- Modal Borrar-->
                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Si elimina este ahorro volverá el saldo a su cuenta</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                                        <a href="{% url 'borrar_ahorro' id=ahorro.id %}" class="btn btn-success">Confirmar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        {% endfor %}
                        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
                        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/table_ahorros.js' %}"></script>
</body>

{% endblock %}