{% load static %}
<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">

        <!-- Nav Item - Alerts -->
        <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw text-gray-500"></i>
                <!-- Counter - Alerts -->
                <span id="notification-counter" class="badge badge-danger badge-counter">{% for recordatorio in recordatorios %}{% if recordatorio.activo %}!{% endif %}{% endfor %}</span>
            </a>
            <!-- Dropdown - Alerts -->
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header">
                    Notificaciones
                </h6>
                {% for recordatorio in recordatorios %}
                    {% if recordatorio.activo %}
                        <a class="dropdown-item d-flex align-items-center">
                            <div class="mr-3">
                                <div class="icon-circle bg-primary">
                                    <i class="fas fa-file-alt text-white"></i>
                                </div>
                            </div>
                            <div>
                                <div class="small text-gray-500">{{ recordatorio.fecha.day }} de cada mes</div>
                                <span class="font-weight-bold">{{ recordatorio.mensaje }}</span>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </li>
        <div class="topbar-divider d-none d-sm-block"></div>

        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {% if user.is_authenticated %}
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ user.username }}</span>
                                {% endif %}
                                <img class="img-profile rounded-circle"
                                    src="{{ usuario.imagen.url }}">
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item text-gray-500" href="{% url 'ver_perfil' %}">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Perfil
                </a>
                <a class="dropdown-item text-gray-500" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Configuración
                </a>
                <a class="dropdown-item text-gray-500" href="{% url 'exit' %}">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Cerrar Sesión
                </a>
            </div>
        </li>

    </ul>

</nav>

<script>
    // Espera a que se cargue el documento
    document.addEventListener("DOMContentLoaded", function () {
        // Selecciona el enlace de notificación por su ID
        var notificationLink = document.getElementById("alertsDropdown");

        // Agrega un evento clic al enlace de notificación
        notificationLink.addEventListener("click", function () {
            // Oculta el contador de notificaciones al hacer clic en el enlace
            var notificationCounter = document.getElementById("notification-counter");
            if (notificationCounter) {
                notificationCounter.style.display = "none";
            }
        });
    });
</script>
<!-- End of Topbar -->